@inject IDialogService DialogService
@inject IDialogService Dialog

@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <h6>Hello, @context.User.Identity?.Name!</h6>
        <p>Welcome to your new app.</p>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn" style="color:white;background-color:#38EAA1">Sign Out</button>
        </form>
    </Authorized>
    <NotAuthorized>         
        <tr>
            <a href="Identity/Account/Register" style="text-decoration:none;padding: 14px 25px;background-color:#38EAA1;color:white;margin:10px">Sign Up</a>              
        </tr>
        <tr>
            <p style="margin-bottom:30px"></p>
        </tr>
       <tr>
           <a href="Identity/Account/Login" style="text-decoration:none;padding: 14px 25px;background-color:#38EAA1;color:white;margin:10px">Sign In</a>   
       </tr>
        
    </NotAuthorized>
</AuthorizeView>


<SurveyPrompt Title="How is Blazor working for you?" />
